<!DOCTYPE html>
<html>
<head>
  <title>multi-buildpack-spike</title>
  <!--<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>-->
  <!--<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>-->

  <link rel="stylesheet" type="text/css" href="css/fc6f11b7.app.css">
  
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
